<section id="company">
    <h1>Spółka Maxam</h1>
    <p>W skład spółki wchodzą:</p>
    <ul>
        <li>Restauracja</li>
        <li>Motel</li>
        <li>Stacja paliw</li>
        <li>Baza paliwowa</li>
    </ul>
</section>