<section id="contact">
    <h1>Kontakt</h1>
    <h2>Masz jakieś pytania?</h2>
    <p>Z chęcią na nie odpowiemy!</p>
    <div class="row">
        <div class="8u 12u$(small)">
            <form method="post" action="#">
                <div class="row uniform 50%">
                    <div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Imię i Nazwisko"/></div>
                    <div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Adres mailowy"/>
                    </div>
                    <div class="12u$"><textarea name="message" id="message" placeholder="Wiadomość..." rows="4"></textarea></div>
                </div>
            </form>
            <ul class="actions">
                <li><input type="submit" value="Wyślij wiadomość"/></li>
            </ul>
        </div>
        <div class="4u$ 12u$(small)">
            <ul class="labeled-icons">
                <li>
                    <h3 class="icon fa-home"><span class="label">Adres</span></h3>
                    Ul. B. Krzywoustego 85B, 51-166 Wrocław<br/>
                    Dolny Śląsk, Polska<br/>
                </li>
                <li>
                    <h3 class="icon fa-mobile"><span class="label">Telefon</span></h3>
                    <p><em>Maciej Serafin</em>, +48&nbsp;533&nbsp;287&nbsp;712</p>
                </li>
                <li>
                    <h3 class="icon fa-envelope-o"><span class="label">Kontakt mailowy</span></h3>
                    <a href="#">contact@maxam.company</a>
                </li>
            </ul>
        </div>
    </div>
</section>