<section id="hotel">
    <h3>Znużonych podróżą ugościmy w jednym z Naszych 12 pokoi a rano podamy energetyczne śniadanie zapewniające siłę na cały dzień.</h3>
    <div class="row">
        <article class="6u 12u$(xsmall) work-item">
            <a href="images/motel/01.jpg" class="image fit thumb"><img src="images/motel/01.jpg" alt=""/></a>
        </article>
        <article class="6u 12u$(xsmall) work-item">
            <a href="images/motel/02.jpg" class="image fit thumb"><img src="images/motel/02.jpg" alt=""/></a>
        </article>
        <article class="6u$ 12u$(xsmall) work-item">
            <a href="images/motel/03.jpg" class="image fit thumb"><img src="images/motel/03.jpg" alt=""/></a>
        </article>
    </div>
</section>