<section id="petrol-station">
    <header class="major">
        <h3>Stacja Paliw Maxam to nie tylko najwyższej jakości paliwo, ale również miła atmosfera oraz sprawna obsługa.</h3>
        <h4>Tutaj nie tylko zatankujemy, ale również zrelaksujemy się chwilą w podróży, gdyż stacja paliw graniczy z restauracją.</h4>
    </header>

    <div class="row">
        <article class="6u 12u$(xsmall) work-item">
            <a href="images/petrol-station/01.jpg" class="image fit thumb"><img src="images/petrol-station/01.jpg" alt=""/></a>
        </article>
        <article class="6u 12u$(xsmall) work-item">
            <a href="images/petrol-station/02.jpg" class="image fit thumb"><img src="images/petrol-station/02.jpg" alt=""/></a>
        </article>
    </div>

    <p>Ostatnim elementem wchodzącym w skład przedsiębiorstwa Maxam jest Baza Paliwowa.
        Baza posiada nowoczesny terminal załadunkowy,
        na którym znajdują się linie do oddolnego nalewu autocystern dla produktów Pb 95, Pb 98 i ON.
        Dzięki zastosowaniu najnowocześniejszej technologii możemy sobie pozwolić na dużą prędkość nalewu.</p>

    <div class="row">
        <article class="6u 12u$(xsmall) work-item">
            <a href="images/petrol-station/a01.jpg" class="image fit thumb"><img src="images/petrol-station/a01.jpg" alt=""/></a>
        </article>
        <article class="6u 12u$(xsmall) work-item">
            <a href="images/petrol-station/a02.jpg" class="image fit thumb"><img src="images/petrol-station/a02.jpg" alt=""/></a>
        </article>
        <article class="6u 12u$(xsmall) work-item">
            <a href="images/petrol-station/a03.jpg" class="image fit thumb"><img src="images/petrol-station/a03.jpg" alt=""/></a>
        </article>
        <article class="6u 12u$(xsmall) work-item">
            <a href="images/petrol-station/a04.jpg" class="image fit thumb"><img src="images/petrol-station/a04.jpg" alt=""/></a>
        </article>
    </div>

    <p>Baza przeładunku paliw płynnych dysponuje stanowiskami przeładunkowymi do obsługi ropy i produktów ropopochodnych.
        Technologia przeładunku odbywa się w systemie zamkniętym,
        bezpiecznym dla środowiska naturalnego,
        dodatkowo dysponujemy autocysternami i jednorazowo jesteśmy w stanie dostarczyć 66&nbsp;000&nbsp;litrów paliwa.</p>
</section>