<section id="restaurant">
    <header class="major">
        <h3>Nasza restauracja mieści się  przy drodze krajowej nr 12</h3>
    </header>
    <p>Urokliwy klimat zachęca zarówno do wypicia filiżanki pysznej kawy jak i kolacji z ukochaną przy lampce wina.
        Głodnym zmotoryzowanym biznesmenom,
        którzy ciągle są w podróży zaskoczymy różnorodnością potraw o niepowtarzalnym smaku.</p>

    <div class="row">
        <article class="6u 12u$(xsmall) work-item">
            <a href="images/restaurant/01.jpg" class="image fit thumb"><img src="images/restaurant/01.jpg" alt=""/></a>
            <h3>Spokoj i relaks</h3>
        </article>
        <article class="6u$ 12u$(xsmall) work-item">
            <a href="images/restaurant/02.jpg" class="image fit thumb"><img src="images/restaurant/02.jpg" alt=""/></a>
            <h3>Pyszne dania, w których można się zakochać</h3>
        </article>
    </div>

    <p>Sam <em>Oscard Wilde</em> mówił <q>"Po dobrym obiedzie nie ma się pretensji do nikogo - nawet do własnej rodziny."</q></p>
    <p>Dodatkowym atutem naszej restauracji jest druga sala, która jest w stanie pomieścić nawet i 100 osób.
        Możemy się pochwalić licznymi imprezami, które były u Nas organizowane  - chrzciny, komunie, śluby.
        Wśród odwiedzających nas gości byli m.in. <em>Emilia Krakowska</em> czy <em>Barbara Wrzesińska</em>.</p>

    <div class="row">
        <article class="6u 12u$(xsmall) work-item">
            <a href="images/restaurant/a01.jpg" class="image fit thumb"><img src="images/restaurant/a01.jpg" alt=""/></a>
        </article>
        <article class="6u$ 12u$(xsmall) work-item">
            <a href="images/restaurant/a02.jpg" class="image fit thumb"><img src="images/restaurant/a02.jpg" alt=""/></a>
        </article>
    </div>

    <p>Dbamy aby każdy klient wychodził zadowolony i wracał jak najczęściej.</p>
    <!--<ul class="actions">
        <li><a href="#" class="button">Learn More</a></li>
    </ul>-->
</section>