<header id="gallery" ng-controller="MaxamGalleryController as gallery">
    <h2>galeria</h2>
    <div class="row" ng-show="gallery.has_data()">
        <article class="6u 12u$(xsmall) work-item" ng-repeat="src in gallery.sources()">
            <a href="{{src}}" class="image fit thumb"><img ng-src="{{src}}" alt=""/></a>
        </article>
    </div>
    <!--
    <h1>
        <strong>{{header.data.title}}</strong>
        {{Header.data.description}}
    </h1>-->
</header>