<header id="header" ng-controller="MaxamHeaderController as header">
    <!--<a href="#" class="image avatar"><img ng-src='{{header.data.logo}}' alt=""></a>-->
    <h1 style="font-size: 4em">
        <strong>{{header.data.title}}</strong>
        {{Header.data.description}}
    </h1>
</header>