<!-- Footer -->
<footer id="footer">
    <ul class="icons">
        <li><a href="#contact" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
        <li>&copy; Maxam 2016</li>
    </ul>
</footer>